/*
Color Palette
Trns Gray   rgba(53,59,71,0.4)
Lt Gray     rgb(230,231,233)
Gray        rgb(67,73,84)
Dark Gray   rgb(53,59,71)
Blue:       rgb(39,143,175)
Green:      rgb(168,192,72)
Stone Blu   rgb(26,104,132)
    */

/* #Site Styles
================================================== */
body {
    background-color: rgb(53,59,71);
}

.wrapper {
    width: 100%;
}

.page {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 14px;
    padding-bottom: 28px;
}

.wrapper.alpha {
    background: rgba(53,59,71,0.8);
}

.wrapper.white {
    background: rgb(255,255,255);
}

.wrapper.ltgray {
    background: rgb(230,231,233);
}

.wrapper.gray {
    color: #aab2bd;
    background: rgb(67,73,84);
}

.wrapper.dkgray {
    color: #aab2bd;
    background: rgb(53,59,71);
}

.wrapper.green {
    color: #fff;
    background: rgb(168,192,72);
    border-bottom: solid 2px rgba(0,0,0,0.2);
}

#headerbox {
    position: fixed;
    top: 0;
    left: 0;
}

.slides {
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
}

img.slide {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
}

nav a {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    line-height: 28px;
    display: inline-block;
    padding: 0 7px;
}

nav a:hover, nav a:visited, nav a:active, nav a:focus {
    color: #fff;
}

#herotext {
    position: relative;
    padding: 0;
}

#herotext div {
    position: absolute;
    top: 100px;
    right: 0;
    text-align: right;
    z-index: 50;
}

#herotext p {
    display: inline-block;
    color: #fff;
    background: rgba(0,0,0,0.6);
    padding: 7px;
    margin: 4px;
}

#herotext p.callbox {
    background: rgb(39,143,175);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 7px 21px;
}

#herotext p.callbox span {
    font-size: 28px;
    font-weight: 400;
}

#whatwedobox {
    background-position: center top;
    margin-top: 0;
    padding: 0;
}

#photorow {
    text-align: center;
}

#photorow img {
    margin: 0 7px 14px 7px;
    border-bottom: solid 11px rgb(168,192,72);
}

#whatwedobox .threecol {
    padding: 0 100px;
}

.threecol .col {
    width: 30%;
    padding: 0;
    float: left;
}

.threecol .col:nth-child(1) {
    padding-right: 4.95%;
}

.threecol .col:nth-child(2) {
    padding-right: 4.95%;
}

.threecol .col:nth-child(3) {
}

.col .sprite {
    width: 52px;
    height: 52px;
    margin: 21px 35px;
    background-image: url('../images/sprite52.png');
    background-repeat: no-repeat;
}

.col .sprite.facility {
    background-position-y: 0;
}

.col .sprite.energy {
    background-position-x: -52px;
}

.col .sprite.water {
    background-position-x: -104px;
}

.col h4 {
    color: #fff;
}

section img {
    float: right;
    width: 325px;
    height: auto;
    padding-left: 14px;
}

footer a, footer a:visited, footer a:hover {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #13b5ea;
}

footer a[href^="tel:"]:before {
    font-family: 'FontAwesome', sans-serif;
    color: rgb(168,192,72);
    padding-right: 7px;
    content: "\f095";
}

footer a[href^="mailto:"]:before {
    font-family: 'FontAwesome', sans-serif;
    color: rgb(168,192,72);
    padding-right: 7px;
    content: "\f0e0";
}

footer a[href^="www."]:before {
    font-family: 'FontAwesome', sans-serif;
    color: rgb(168,192,72);
    padding-right: 7px;
    content: "\f0ac";
}

button {
    width: 32px;
    height: 32px;
    color: #fff;
    background: #aab2bd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
}

input[name="email"] {
    height: 32px;
    color: #aab2bd;
    background: rgb(53,59,71);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding-left: 7px;
}

#message {
    margin-top: 14px;
}

#message.normal {
    color: #fff;
}

#message.errortext {
    color: #CC0000;
}


/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 960px) {
    .page {
        margin: 0 10px;
    }

    #photorow img {
        width: 22%;
        margin: 0 2px 7px 2px;
        border-bottom: solid 7px rgb(168,192,72);
    }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    #nav-top {
        display: none;
    }
    #herotext {
        display: none;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	img[alt="WHPacific Solutions Group"] {
		width: 80px;
	}
    #herotext {
        display: none;
    }
    section img {
        width: 100%;
        height: auto;
    }

    #photorow img {
        border-bottom: solid 4px rgb(168,192,72);
    }

    .col {
        width: 100% !important;
        margin-left: 0 !important;
        clear: none !important;
    }
}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
